.title-block{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	color: #8a8a8a;	
	@media (min-width: 768px) {
		font-size: 26px;
	}
} 
.button{
	font-size: 27px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	color:$white;
	background: linear-gradient(#fe0018, #bf021d);
	line-height: 52px;
	transition: 0.3s;
	border-radius: 7px;
	width:100%;
	padding: 0; 
	margin: auto;
	display:block;
	max-width:330px;
	border: none;
	&:hover{
		background: linear-gradient( #bf021d, #fe0018);
		color: $white;
	}
}
.replace-block{
	@media (min-width: 768px) {
		display:flex;
		flex-direction: column-reverse; 
	}
}

.container{
	@media (min-width: 768px) {
		padding-top: 10px;
	}
}

.intro{
	margin-bottom: 5px;
	position: relative;
	@media (max-width: 768px) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@media (min-width: 768px) {
		border-radius:15px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	h1,
	h2{
		background: $grey;
		margin: 0;
		text-align: center;
		color: $white;
		text-transform: uppercase;
	}
	h1{
		font-size: 20px;
		font-weight: 900;
		line-height: 1;
		padding: 10px 0;
		@media (max-width: 768px) {
			position: absolute;
			bottom:0;
			z-index: 9;
			width: 100%;
		}
		@media (min-width: 768px) {
			font-size: 30px;
			line-height: 2;
		}
	}
	h2{
		font-size: 26px;
		line-height: 44px;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.intro-photo{
		background-image: url('../images/intro.png');
		background-size: cover;
		background-position: 50% 50%;
		height: 185px;
		position: relative;
		@media (min-width: 768px) {
			height: 275px;
		}
		.logo{
			position: absolute;
			top: 15px;
			transform: translate(-60px, 0);
			right: 6.5%;
			@media (min-width: 768px) {
				right: 19.5%;
			}
			img{
				@media (max-width: 768px) {
					height: 80px;
				}
			}
		}
	}
}

.visa-form-block{
	@media (min-width: 768px) {
		float: right;
	}
}
.padding-right{
	@media (min-width: 768px) {
		padding-right: 0;
	}
}
.get-visa{
	border: 1px solid #000;
	background: $grayligten;
	border-radius:15px;
	overflow:hidden;
	max-width: 350px;
	margin: auto;
	.form-title{
		background: $red;
		text-align: center;
		padding: 10px 5px 8px;	
		position: relative;
		@media (max-width: 768px) {
			padding: 16px 5px 13px;
		}
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			top:100%;
			margin: -1px auto 0;
			left: 0;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 30px 0 30px;
			border-color: $red transparent transparent transparent;
			@media (min-width: 768px) {
				border-width: 20px 45px 0 45px;
			}
		}	
		h2{
			color: $white;
			font-size: 46px;
			margin: 0;
			line-height: 1;
			@media (max-width: 768px) {
				font-size: 32px;
				font-weight: 900;
				letter-spacing: -1px;
			}
		}
		p{
			font-weight: 600;
			font-size: 19px;
			color: $white;
		}
	}
	form{
		padding: 23px 16px 12px;
		input:not([type='checkbox']), 
		select{
			height: 32px;
			border-radius: 4px;
			background: #fff;
			border: 1px solid #959595;
			padding: 0 10px;
			display: block;
			width: 100%;
			margin-bottom: 5px;
		}
		input[type='checkbox']{
			margin: 0 0 0 7px;
		}
		label{
			font-weight: 400;
			font-size: 13px;
			line-height: 1;
			margin: 0;
		}
		.input-group-btn{
			vertical-align: top;
		}
		.dropdown-toggle{
			margin: 0; 
			height: 32px;
			border-color: #959595;
			border-right: none;
			&:hover{
				background: #fff;
			}
			.caret{
				margin-left: 5px;
			}
		}
		input.form-control{
			border-left: none;
		}
		.dropdown-menu,
		.dropdown-toggle{
			img{
				height:18px;
				margin-right: 8px;
				vertical-align: middle;
			}
		}
		
		.phone-title{
			line-height: 25px;
			font-size: 13px;
			color: $white;
			background: $grey;
			margin-bottom: 5px;
			font-weight: 900;
			text-align: center;
			letter-spacing: 2px;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.language-checkboxs{ 
			@media (max-width: 768px) {
				display: none;
			}
			span{
				width: 100px;
				display: inline-block;
				font-size: 13px;
			}
			label{
				margin-right: 26px;
			}
		}
		.age{
			input{
				@media (max-width: 768px) {
					float: left;
					margin-left: 0;
					margin-right: 12px;
				}
			}
		}
		.button{
			margin-top: 10px;
		}
	}
	.privacy{
		text-align: center;
		padding: 0 16px 26px;
		@media (min-width: 768px) {
			padding: 0 16px 16px;
		}
		a{	
			font-size: 11px; 
			text-decoration: underline; 
		}
		p{
			font-size: 11px; 
			line-height: 1.2;
		}
	}
}

.consultants{
	@media (min-width: 768px) {
		border: 1px solid #000;
		background: $grayligten;
		border-radius:15px;
		padding: 22px 20px 8px;
	}
	.consultants-item{
		padding: 0 7px;
		@media (max-width: 768px) {
			border-bottom: 12px solid #cccccc;
			max-width: 260px;
			margin: auto;
			text-align: center;
			padding: 25px 0 15px;
			margin-bottom: 15px;
		}
		.consultant-info,
		.photo-wrap{
			@media (min-width: 992px) {
				display: table-cell;
	    		vertical-align: top; 
	    	}
		}
		.name{
			font-size: 18px;
			letter-spacing: -0.5px;
			color: #000;
			display: inline-block;
			margin-top: 10px;
			&:hover{
				text-decoration: underline;
			}
			@media (max-width: 768px) {
				font-weight: 900;
				margin-top: 15px;
			}
		}
		.description{
			font-size: 12px;
			margin-top: 10px;
			line-height: 1.1;
		}
		.photo{
			display: inline-block;
			border-radius: 15px;
			border: 1px solid #000;
			height: 165px;
			width: 160px;
			background-position: 50%;
			background-size: cover;
			margin-right: 13px;
			@media (min-width: 768px) {
				height: 105px;
				width: 100px;
			}
		}
	} 
	.helper-text{
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 3.5px;
		margin-top: 7px;
		@media (max-width: 768px) {
			display: none;
		}
	}
}

.steps{
	margin: 40px 8px 17px;
	@media (max-width: 768px) {
		&:before{
			content: '';
			display: block;
			width: 280px;
			height: 12px;
			background: #ccc;
			margin: 0 auto 40px;
		}
	}
	@media (min-width: 768px) {
		border: 1px solid #000;
		border-radius: 15px;
		padding: 20px 10px 26px;
	}
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.step-3{
		img{
			@media (min-width: 768px) {
				margin-right: 23px;
			}
		}
	}
	@media (max-width: 768px) {
		.step-3{
			max-width: 230px;
			margin: auto;
			// img{
			// 	margin-right: 23px;
			// }
		}
		.step-2{
			max-width: 285px;
			margin: auto;
		}
		.step-1{
			max-width: 290px;
			margin: auto;
		}
	}
	.step{
		@media (max-width: 768px) {
			margin-bottom: 36px;
		}
		img{
			@media (max-width: 768px) {
				margin-bottom: 15px;
				height: 100px;
			}
			@media (min-width: 768px) {
				margin-right: 16px;
			}
		}
		.icon-wrap,
		.text{
			text-align: center;
			@media (min-width: 992px) {
				display: table-cell;
	    		vertical-align: top; 
	    	}
		}
		h3{
			font-weight: 300;
			font-size: 40px;
			text-transform: uppercase;
			margin: 0;
			line-height: 1.2;
			@media (max-width: 768px) {
				line-height: 0.8;
				font-size: 36px;
			}
		}
		.title-block{
			margin-bottom: 0;
			line-height: 1.2;
			@media (max-width: 768px) {
				letter-spacing: 1px;
				margin-bottom: 12px;
			}
		}
		p:not(.title-block){
			max-width: 230px;
			margin: auto;
			line-height: 1.3;
			@media (max-width: 768px) {
				font-size: 16px;
			}
		}
	}
	.button{
		@media (min-width: 768px) {
			display: none;
    	}	
	}
}
 
.benefits{ 
	max-width:407px;
	@media (max-width: 768px) {
		margin:0 auto 22px;
	}
	.title-block{
		margin-bottom: 20px;
		@media (min-width: 768px) {
			margin-bottom: 30px;
		}
	}
	.benefits-item{
		background: $grayligten;
		border-radius: 10px;
		padding: 0 7px;
		@media (min-width: 768px) {
			padding: 0 15px;
		}
		&:not(:last-child){
			margin-bottom: 13px;	
		}
		img{
			float: left;
			margin-right: 5px;
			@media (min-width: 768px) {
				margin-right: 20px;
			}
		}
		p{
			line-height: 26px;
   			padding: 10px;
			@media (max-width: 768px) {
				letter-spacing: -0.9px;
			}
		}
	}
}

.why-used{
	@media (max-width: 768px) {
		max-width: 407px;
		margin: auto;
	}
	@media (min-width: 992px) {
		margin-left: 10px;
	}
	.title-block{
		margin-bottom: 20px; 
		@media (min-width: 768px) {
			text-align: left;
		}
	}
	.list{
		list-style: none;
		margin-left: 0;
		padding: 0;
		li{
			padding-left: 35px;
			position: relative;
			max-width: 515px;
			line-height: 1.8;
			@media (min-width: 768px) {
				padding-left: 43px;
			}
			&:not(:last-child){
				margin-bottom: 22px;	
			}
			&:before{
				content: '';
				display: inline-block;
				width: 25px;
				height: 28px;
				background: url('../images/canada.png') no-repeat center;
				position: absolute;
				left: 0;
				top:0;
			}
		}
	}
}


// footer 
footer{
	margin-top: 18px;
}
.copyright{
	padding: 25px 15px 15px;
	background: $grey;
	border-radius: 15px;
	text-align: center;
	margin: 12px 0 17px;
	@media (min-width: 768px) {
 		padding: 18px 15px;
	}
	p{
		max-width: 705px;
		margin: auto;
		color: $white;
		line-height: 1.6;
		font-style: italic; 
		font-size: 15px;
		@media (max-width: 768px) {
	 		margin-bottom: 23px;
		}
		br{
			@media (min-width: 768px) {
		 		display: none;
			}
		}
	}
} 
.secure-message{
	padding-top: 10px;
	border-top:1px solid #000;
	&:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	p{
		margin-top: 15px;
		display: inline-block; 
		font-style: italic;
		line-height: 1.8;
		@media (max-width: 768px) {
			padding: 0 45px;
			text-align: center;
		}
		@media (min-width: 768px) {	
			width: calc(100% - 320px);
			max-width: 600px;
		}
	}
}
.secure-logos{
	@media (max-width: 768px) {
		max-width: 200px;
   		margin: auto; 
   		text-align: center;
   		margin-bottom: 16px;
	}
	@media (min-width: 768px) {
		float: right;
	}
}